{% extends 'base.html.twig' %}

{% block body %}

    <h1>Editing cube: {{ entity }}</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {% include 'Cube/_form.html.twig' %}

        <button type="submit">Update</button>
    {{ form_start(form) }}

{% endblock %}